body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    background-color: #f0e2c2;
    padding: 0 15px;
    font-family: "Garamond", "Times New Roman", "serif";
}

ul {
    list-style: square;
}

li {
    padding: 5px 0;
}